#header{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color: white;
  background-color: blue;
}

ul{
  display: flex;
  list-style-type: none;
  
}
li{
  padding-left: 1rem;
  padding-right: 1rem;
  
}

.movie-list{
  display: flex;
  flex-wrap: wrap;
}
